

<div class="about-page">
    <div class="about-page-header">
        <h5>About Me</h5>
    </div>
    <div class="about-page-image">
        <img width="350" src="~/Content/img/admin.jpg" alt="Hakkımda Resmi">
    </div>
    <div class="about-page-text">
        Hi, i am glad you made it here to know more about me. I am a Lifestyle blogger. Him fowl divided. Lesser
        which fruitful image, first seas have the, seas grass image don’t. Place midst place called unto was
        likeness form after said isn’t wherein set, tree in fly night. One green. Created waters. Created saying
        created also you’ll Divide.
        Feel free to ask me anything about you wondered, no hard feelings.
    </div>

    <div class="follow-me">
        <h6 class="follow-me-header">
            FOLLOW ME
        </h6>
        <div class="follow-me-social">
            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i> </a>
            <a target="_blank" href="#"><i class="fab fa-twitter"></i> </a>
            <a target="_blank" href="#"><i class="fab fa-google-plus-g"></i> </a>
            <a target="_blank" href="#"><i class="fab fa-instagram"></i> </a>
            <a target="_blank" href="#"><i class="fab fa-skype"></i> </a>
            <a target="_blank" href="#"><i class="fab fa-youtube"></i> </a>
            <a target="_blank" href="#"><i class="fab fa-spotify"></i> </a>
            <a target="_blank" href="#"><i class="fab fa-github"></i> </a>
        </div>
    </div>

</div>