@model NetMVCBlogApp.Models.AdminDetailsModel

<div class="about-page">
    <div class="about-page-header">
        <h5>About Me</h5>
    </div>
    <div class="about-page-image">
        <img width="350" src="~/Content/img/@Model.Image" alt="Hakkımda Resmi">
    </div>
    <div class="about-page-text">
        @Model.AboutMe
    </div>

    <div class="follow-me">
        <h6 class="follow-me-header">
            FOLLOW ME
        </h6>
        <div class="follow-me-social">
            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i> </a>
            <a target="_blank" href="#"><i class="fab fa-twitter"></i> </a>
            <a target="_blank" href="#"><i class="fab fa-google-plus-g"></i> </a>
            <a target="_blank" href="#"><i class="fab fa-instagram"></i> </a>
            <a target="_blank" href="#"><i class="fab fa-skype"></i> </a>
            <a target="_blank" href="#"><i class="fab fa-youtube"></i> </a>
            <a target="_blank" href="#"><i class="fab fa-spotify"></i> </a>
            <a target="_blank" href="#"><i class="fab fa-github"></i> </a>
        </div>
    </div>

</div>