

<div class="contact-page">
    <div class="about-page-header">
        <h5>
            Contact
        </h5>
    </div>

    <div class="follow-me-social">
        <a target="_blank" href="#"><i class="fab fa-facebook-f"></i> </a>
        <a target="_blank" href="#"><i class="fab fa-twitter"></i> </a>
        <a target="_blank" href="#"><i class="fab fa-google-plus-g"></i> </a>
        <a target="_blank" href="#"><i class="fab fa-instagram"></i> </a>
        <a target="_blank" href="#"><i class="fab fa-skype"></i> </a>
        <a target="_blank" href="#"><i class="fab fa-youtube"></i> </a>
        <a target="_blank" href="#"><i class="fab fa-spotify"></i> </a>
        <a target="_blank" href="#"><i class="fab fa-github"></i> </a>
    </div>

    <div class="contact-text">
        <h6>Feel free to ask me anything about you wondered, no hard feelings.</h6>
    </div>

    <div class="contact-form">
        <form method="POST">
            <div class="information">
                <div class="form-text">
                    <label for="name">Name</label>
                    <div>
                        <input type="text" name="Name" id="name" placeholder="Steve Mcqueen">
                    </div>
                </div>
                <div class="form-text">
                    <label for="email">Email</label>
                    <div>
                        <input type="email" name="Mail" id="email" placeholder="steve@mcqueen.us">
                    </div>
                </div>
            </div>
            <div class="message">
                <div>
                    <textarea name="Text" id="message" cols="30" rows="10" placeholder="Your Message.."></textarea>
                </div>
            </div>
            <div class="contact-submit">
                <button type="submit" id="submit">Submit</button>
            </div>
        </form>
    </div>

</div>

<script>

    $(document).ready(function () {

        function validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }


        $("#submit").click(function (e) {

            e.preventDefault();

            if (validateEmail($("#email").val())) {

                $.ajax({
                    url: '/Home/Contact/',
                    data: {
                        Name: $("#name").val(),
                        Mail: $("#email").val(),
                        Text: $("#message").val(),
                    },
                    type: 'POST',
                    success: function (data) {

                        if (data == 'failed') {
                            alert('I think something went wrong. Would you try again later?');
                        }
                        else
                            alert('Hello, I will get to you as soon as I got your message :)');
                    }
                });
            }
            else {
                alert('Hello, How would you like to enter the information properly? :)');
            }

        });

    });


</script>