@model NetMVCBlogApp.Entity.Social

<div class="social">
    <a target="_blank" href="https://www.facebook.com/@Model.Facebook"><i class="fab fa-facebook-f"></i></a>
    <a target="_blank" href="https://www.twitter.com/@Model.Twitter"><i class="fab fa-twitter"></i></a>
    <a target="_blank" href="https://www.youtube.com/@Model.YouTube"><i class="fab fa-youtube"></i></a>
    <a target="_blank" href="https://www.instagram.com/@Model.Instagram"><i class="fab fa-instagram"></i></a>
</div>
