@model NetMVCBlogApp.Entity.Category
@{
    Layout = "~/Views/Shared/admin.cshtml";
}


<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="card">
            <div class="header">
                <h4 class="title">New Categorie</h4>
            </div>
            <div class="content">
                <form id="post-form" method="post">

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                <label>Categorie Name</label>
                                @Html.TextBoxFor(model=>model.Name,new {@class="form-control", placeholder="Categorie Name", required="required"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                <label>Categorie short description</label>
                                @Html.TextAreaFor(model=>model.Description,new { @class= "form-control", rows=3, placeholder = "Here can be your categorie description" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <button type="submit" class="btn btn-info btn-fill pull-right">Create new categorie</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>