@model NetMVCBlogApp.Models.PostModel
@{
    ViewBag.Title = "NewPost";
    Layout = "~/Views/Shared/admin.cshtml";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="card">
            <div class="header">
                <h4 class="title">New Post</h4>
            </div>
            <div class="content">
                <form id="post-form">
                    @*<div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="form-group">
                                    <label>Featured Picture</label>
                                    <input class="form-control-file" type="file" />
                                </div>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                <label>Post Name</label>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Post Name" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                <label>Post Text</label>
                                @Html.TextAreaFor(model => model.Text, new { @class = "form-control", placeholder = "Here can be your post content", rows = 7 })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-1">
                            <label>Category Name</label>

                            <select class="form-control" id="CategoryID">
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <option value="@category.ID">@category.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <button type="submit" class="btn btn-info btn-fill pull-right" id="create-post">Create new post</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    document.getElementById('post-form').addEventListener('submit', function (e) {
        e.preventDefault();


        let data = {
            Name: document.getElementById('Name').value,
            Text: document.getElementById('Text').value,
            CategoryID: document.getElementById('CategoryID').value
        }

        let xhttp = new XMLHttpRequest();

        xhttp.open('POST', '/Account/newPost/');

        xhttp.onload = () => {
            if (xhttp.status == 200) {
                if (JSON.parse(xhttp.responseText) == null) {
                    alert("yes:DD");
                }
                else {
                    alert("ops!");
                }
            }
        }

        xhttp.setRequestHeader('Content-type', 'Application/json');

        xhttp.send(JSON.stringify(data));

    })
</script>