@model IEnumerable<NetMVCBlogApp.Entity.Post>

<div class="recent-posts">
    <h2 class="recent-posts-header">
        <span>
            Recent Posts
        </span>
    </h2>
    <ul class="category-list">
        @foreach (var recently in Model)
        {
            <li><a href="#">@recently.Name</a></li>
        }
    </ul>
</div>